<div className="row d-flex mt-3">
  <a href="/profile" className="btn <%= path != 1 ? 'btn-success' : 'btn-info' %> col m-1">
    Profile </a>
  <a href="/example/one" className="btn <%= path != 3 ? 'btn-success' : 'btn-info' %> col m-1">
    Example #1
  </a>
  <a href="/example/two" className="btn <%= path != 4 ? 'btn-success' : 'btn-info' %> col m-1">
    Example #2
  </a>
  <a href="/admin/newrole" className="btn <%= path != 2 ? 'btn-success' : 'btn-info' %> col m-1">
    Admin Page
  </a>
  <a href="/secret" className="btn <%= path != 5 ? 'btn-success' : 'btn-info' %> col m-1">
    Secrets
  </a>
</div>